/* CSS FORM LOGIN/REGISTER */
.formLog{
    height: 600px;
    color: white;
    background-color: rgba(20,50,93,.9);
    padding: 30px 20px;
    text-align: center;
    border-radius: 20px;
}
/* CSS IMG */
.imgLogo{
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.social-Log{
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.img-social-log{
    width: 100%;
    height: 40px;
}