/* CSS FORM LOGIN/REGISTER */
.formPayment{
    height: 600px;
    color: black;
    /* background-color: rgba(146, 1, 1, 0.329); */
    background-color: rgba(255, 166, 0, 0.726);
    padding: 30px 20px;
    text-align: center;
    border-radius: 20px;
}
/* CSS IMG */
.imgLogo{
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.social-Log{
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.img-social-log{
    width: 100%;
    height: 40px;
}