/* CSS MAIN APP COMPONENT */
.mainApp{
    height: 650px;
    background-image: url(../../asset/image/bg-app.jpg);
    background-size: cover;
    padding: 80px 0;
}
.mainApp .app-content{
    text-align: justify;
    padding: 120px 30px;
}
.mainApp .app-content .app-btn:hover{
    background-color: orange;
    border: 1px solid orange;
}
.mainApp .app-slide{
    width: 80%;
    height: 80%;
    overflow: hidden;
    border: 5px solid black;
    border-radius: 20px;
}