/* CSS MODAL */
.modalMovie .show{
    padding-right: 40px !important;
}
.modalCarousel{
    width: 100%;
    border: 5px solid orange;
}
@media (min-width: 576px){
.modal-dialog{
    max-width: 800px;
    margin: 1.75rem auto;
}
}